In [1]:
print("hola")

hola

In [9]:
l1=[1,2,9]
l2=[1,2,5]
l1>l2

True

In [ ]:
l1=["aa",2]
l2=["aa",8]
l1<l2

True

In [17]:
"Data" in "Hola Data"

True

In [18]:
"data" in "Hola data"

True

In [19]:
l1=[1,"data"]
1 in l1

True

In [22]:
x=9.5
type(x)
int(x)

9

In [30]:
texto="textomarta"
len(texto)
texto

'textomarta'

In [31]:
"Esto es un texto" .upper()

'ESTO ES UN TEXTO'

In [35]:
l1=[1,7,6]
type (l1)

list

In [38]:
l1 .count

In [46]:
v="Hola que tal"
l1=v.replace("l","x")
l2=l1.split(" ")
print(l2)

['Hoxa', 'que', 'tax']

In [50]:
l1=list({1,2,4})
l2=list((1,2,4))
print(l1,l2)

[1, 2, 4] [1, 2, 4]

In [51]:
l1={1,2,3}
l2=list(l1)
l2

[1, 2, 3]

In [57]:
l1=[1,2,3,4,5,6,7,8,9,10]
l2=l1[0:4]
l3=l1[0:4:2]
print(l2,l3)

[1, 2, 3, 4] [1, 3]

In [60]:
l1.append(5)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 5, 5]

In [61]:
l1.insert(2,"hola")
l1

[1, 2, 'hola', 3, 4, 5, 6, 7, 8, 9, 10, 5, 5, 5]

In [63]:
del(l1[9])
l1

[1, 2, 'hola', 3, 4, 5, 6, 7, 8, 5, 5, 5]

In [69]:
l3=[1,2,3]
l4=["a","b","c"]
try:
    l1>l2
except:
    print("No pasa nada")

No pasa nada

In [74]:
dict1={"lunes":1,"martes":2}
l1=list(dict1.values())
l1

[1, 2]

In [76]:
items=list(dict1.items())
items

[('lunes', 1), ('martes', 2)]

In [80]:
dict1["lunes"]="30"
dict1

{'lunes': '30', 'martes': 2}

In [4]:
l1=[1,2,3,4,5]
n2 =int(input("escribe un nÃºmero:"))
n2 in l1

False

In [93]:
h1=int(input("horas hombre:"))

TypeError: 'str' object is not callable